<div class="row-fluid">
  <div class="widget-header">
    <h5>Line Details</h5>
  </div>
    <table class="table table-striped table-bordered table-hover" id="details">
      <thead>
        <tr>
          <th class="center">Seq</th>
          <th class="center">Item Code</th>
          <th class="center">Barcode</th>
          <th class="center">Item Description</th>
          <th class="center">Ordered Qty</th>
          <th class="center">UoM</th>
          <th class="center">Item Price</th>
          <th class="center">Discount Rate</th>
          <th class="center">Total</th>
        </tr>
      </thead>
      <tfoot class="search-footer">
        <tr>
          <th class="center">Seq</th>
          <th class="center">Item Code</th>
          <th class="center">Barcode</th>
          <th class="center">Item Description</th>
          <th class="center">Ordered Qty</th>
          <th class="center">UoM</th>
          <th class="center">Item Price</th>
          <th class="center">Discount Rate</th>
          <th class="center">Total</th>
        </tr>
      </tfoot>
      <tbody>
        <% if details.blank?%>
          <tr>
            <td colspan="9" class="center">
              <span class="red">No match data</span>
            </td>
            <td class="hide"></td>
            <td class="hide"></td>
            <td class="hide"></td>
            <td class="hide"></td>
            <td class="hide"></td>
            <td class="hide"></td>
            <td class="hide"></td>
            <td class="hide"></td>
          </tr>
          <%else%>
            <% details.each do |p|%>
              <tr>
                <td><%=p.seq%></td>
                <td><%=p.product.code%></td>
                <td><%=p.product.apn_number%></td>
                <td><%=p.product.name.html_safe %></td>
                <td class="text-right"><%=p.order_qty.to_i %></td>
                <td><%=p.product.unit_qty%></td>
                <td class="text-right"><%=total_format(p.item_price, "Rp.") %></td>
                <td><%=p.disc_rate%> %</td>
                <td class="text-right"><%=total_format(p.total_amount_before_tax,"Rp.") %></td>
              </tr>
            <%end%>
        <%end%>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="8"  class="text-right"> <strong>Total</strong> </td>
          <td class="text-right"><strong><%=total_format(total_po(details.collect(&:total_amount_before_tax)),  "Rp.") %></strong></td>
          <td class="hide"></td>
          <td class="hide"></td>
          <td class="hide"></td>
          <td class="hide"></td>
          <td class="hide"></td>
          <td class="hide"></td>
          <td class="hide"></td>
        </tr>
      </tfoot>
    </table>
</div>
