<div class="row-fluid" id="grn-details-for">
  <div class="widget-header">
    <h5>Serial Details</h5>
  </div>
  <table class="table table-striped table-bordered" id="serials">
    <thead>
      <tr>
        <th class="center">Seq</th>
        <th class="center">Serial No.</th>
        <th class="center">Stock Code</th>
        <th class="center">Type</th>
        <th class="center">Suffix</th>
      </tr>
    </thead>
    <tbody>
      <% if @serials%>
      <% @serials.each_with_index do |p, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= p.serial_no %></td>
        <td><%= p.stock_code %></td>
        <td><%= p.serial_link_type %></td>
        <td><%= p.serial_link_code %></td>
      </tr>
      <%end%>
      <%end%>
    </tbody>
  </table>
</div>
<div class="accept-grn">
  <% if @grn.can_accept_grn? && can?(:accept_grn, @grn) && !dispute_escalated?(@grn, GRN, :grn_dispute_flow_selector) %>
  <% if current_user.type_of_user.parent.description == "Customer" %>
  <% if @grn.can_resolve_grn? %>
  <%#= form.submit "Accept", :name=>"accept_grn", class: "btn btn-success", :onclick => "return confirm_accept(this);" %>
  <% end %>
  <% elsif current_user.type_of_user.parent.description == "Supplier" %>
  <% if @grn.can_raise_dispute_grn? %>
  <%#= form.submit "Accept", :name=>"accept_grn", class: "btn btn-success", :onclick => "return confirm_accept(this);" %>
  <% end %>
  <% elsif current_user.has_role? :superadmin %>
  <%#= form.submit "Accept", :name=>"accept_grn", class: "btn btn-success", :onclick => "return confirm_accept(this);" %>
  <% end %>
  <%end%>
</div>
