<table class="table table-striped table-bordered" id="remarks">
  <thead>
    <tr>
      <th class="center">Seq</th>
      <th class="center" width="50%">Remark</th>
      <th class="center">Date</th>
      <th class="center">Time</th>
      <th class="center">User</th>
      <th  style="display:none;"></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th class="center">Seq</th>
      <th class="center" width="50%">Remark</th>
      <th class="center">Date</th>
      <th class="center">Time</th>
      <th class="center">User</th>
      <th style="display:none;"></th>
    </tr>
  </tfoot>
  <tbody>
    <% PurchaseOrder.where("po_number = ? AND po_remark IS NOT NUll AND po_remark!=''", @grn.po_number).order("created_at ASC").each_with_index do |po, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= po.po_remark %></td>
        <td><%= convert_date po.created_at %></td>
        <td><%= po.created_at.localtime.strftime("%I:%M%p") %></td>
        <td><%= po.user.first_name + " " + po.user.last_name %></td>
        <td style="display:none;"></td>
      </tr>
    <% end %>
  </tbody>
</table>