<%= javascript_include_tag "order_to_payments/purchase_orders.js" %>
<div class="row-fluid">
  <!--PAGE CONTENT BEGINS HERE-->
  <div class="space-6"></div>
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box transparent invoice-box">
        <div class="widget-body">
          <div class="widget-main padding-24">
            <div class="row-fluid" id="grn-history">
              <div id="paginate-"></div>
            </div>
            <div class="row-fluid">
              <div class="row-fluid">
                <div class="span6">
                  <div class="row-fluid">
                    <ul class="unstyled spaced">
                      <li>
                        <i class="icon-caret-right blue"></i>
                        <span>PO Number</span>
                        :
                        <%=@grn.po_number%>
                      </li>
                      <li>
                        <i class="icon-caret-right blue"></i>
                        <span>GRN Number</span>
                        :
                        <%=@grn.grn_number%>
                      </li>

                      <li>
                        <i class="icon-caret-right blue"></i>
                        <span>Warehouse</span>
                        :
                        <%= @grn.warehouse.warehouse_name rescue ''%>
                      </li>

                      <li>
                        <i class="icon-caret-right blue"></i>
                        <span>Ship To</span>
                        <%= get_addresses(@grn.warehouse) rescue ''%>
                      </li>

                      <li>
                        <i class="icon-caret-right blue"></i>
                        <span>Order Type</span>
                        :
                        <%=@grn.order_type%>
                      </li>
                    </ul>
                  </div>
                </div>
                <!--/span-->
                <div class="span6">
                  <div class="row-fluid">
                    <ul class="unstyled spaced">
                      <li>
                        <i class="icon-caret-right blue"></i>
                        <span>Supplier Code</span>
                        :
                        <%= @grn.supplier.code rescue ''%>
                      </li>

                      <li>
                        <i class="icon-caret-right blue"></i>
                        <span>Supplier Name</span>
                        :
                        <%=@grn.supplier.name rescue ''%>
                      </li>

                      <li>
                        <i class="icon-caret-right blue"></i>
                        <span>Supplier Phone Number</span>
                        :
                        <%= @grn.supplier.addresses.try(:first).try(:phone) rescue '' %>
                      </li>

                      <li>
                        <i class="icon-caret-right blue"></i>
                        <span>Ordered</span>
                        :
                        <%= convert_date(@grn.po_date)%>
                      </li>

                      <li>
                        <i class="icon-caret-right blue"></i>
                        <span>Arrival</span>
                        :
                        <%= convert_date(@grn.due_date)%>
                      </li>

                      <li>
                        <i class="icon-caret-right blue"></i>
                        <span>Last Update By</span>
                        :
                        <%="#{@grn.user.first_name} #{@grn.user.last_name}" rescue ""%>
                      </li>
                    </ul>
                  </div>
                </div>
                <!--/span-->
              </div>
              <!--row-->
              <div class="space"></div>
              <div id="grn-serials">
                <%= render 'serials' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--PAGE CONTENT ENDS HERE-->
</div>
<!--/row-->
