<div id="table_report_wrapper" class="dataTables_wrapper" role="grid">
      <table class="table table-striped table-bordered table-hover display" id="results">
        <thead>
          <tr>
            <th class="center">Ship To</th>
            <th class="center">PO Number</th>
            <th class="center">GRN Number</th>
            <th class="center">GRPC Number</th>
            <th class="center">Order Type</th>
            <th class="center">Status</th>
            <th class="center">Action</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th class="center">Ship To</th>
            <th class="center">PO Number</th>
            <th class="center">GRN Number</th>
            <th class="center">GRPC Number</th>
            <th class="center">Order Type</th>
            <th class="center">Status</th>
            <td></td>
          </tr>
        </tfoot>
        <tbody>
        <% if results.blank?%>
          <tr>
            <td colspan="7" class="center">
              <span class="red">No match data</span>
            </td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
          </tr>
          <%else%>
          <% results.each do |po|%>
          <tr>
            <td><%=po.warehouse.warehouse_name rescue '' %></td>
            <td><%=po.po_number rescue '' %></td>
            <td><%=po.grn_number rescue '' %></td>
            <td><%=po.grpc_number rescue '' %></td>
            <td><%=po.order_type rescue '' %> </td>
            <td><%=grpc_nil_to_unread(po) rescue '' %></td>
            <td class="td-actions ">
              <%if can? :read, :goods_receive_price_confirmation%>
                <div class="btn-group">
                  <%=link_to "<i class='icon-eye-open'></i>Detail".html_safe, order_to_payments_goods_receive_price_confirmation_path(po.id), :class=>'btn btn-mini btn-info'%>
                </div><br>
                <div class="btn-group">
                  <%=link_to "#{image_tag 'Excel-icon.png'}".html_safe, order_to_payments_generate_xls_details_grpc_url(po.id, :xls) %>
                </div>
                <div class="btn-group">
                  <%=link_to "#{image_tag 'PDF-icon.png'}".html_safe, order_to_payments_generate_pdf_details_grpc_url(po.id), :target => "blank" %>
                </div>
              <%end%>
            </td>
          </tr>
          <%end%>
          <%end%>
        </tbody>
      </table>
      <%#=render "shared/paginate", :results => results %>
    </div>
<script type="text/javascript">
  $(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#results tfoot th').each( function () {
      var title = $(this).text();
      $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    });
 
    // DataTable
    var table = $('#results').DataTable({
      "aoColumnDefs": [
        { "bSortable": false, "aTargets": [ 6 ] }
      ],
      "aaSorting": [] });
    $('#results tfoot th').each(function (i) 
    {
      var title = $('#results thead th').eq($(this).index()).text();
      // or just var title = $('#sample_3 thead th').text();
      var serach = '<input type="text" placeholder="Search ' + title + '" />';
      $(this).html('');
      $(serach).appendTo(this).keyup(function(){table.fnFilter($(this).val(),i)})
    });
 
    // Apply the search

} );
</script>
<style type="text/css">
  tfoot {
    display: table-header-group;
  }
  tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
</style>