	<p>Process : <%= @type %></p>

	<p><%= @type %> No : <%= link_to(@number, "#{BASE_URI}#{@url}") %></p>

	<p>Status : <%= @state %></p>

	<p>From : noreplay.b2bsystem</p>
<br />
<br />
	<table style="width: 500px;
		border: 1px solid black;
		line-height:200%;">
		<thead>
			<tr style="border: 1px solid black">
				<th scope="col" >No</th>
				<th scope="col" >Date</th>
				<th scope="col" >Acknowledge</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each_with_index do |user, i| %>
			<tr style="border: 1px solid black">
				<td style="text-align: center;"><%= i %></td>
				<td style="text-align: center;"><%= Date.today.strftime("%Y-%m-%d") %></td>
				<td style="text-align: center;"><%= user.email%></td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<p>&nbsp;</p>
