<script>
  function fill_field(id){
    var i = $("#commited_for_"+id).val()
    $("#commited_as_"+id).val(i);
    service_level(id);
  }
</script>
<div id="form-asn">
  <%= form_for asn, url:check_path_for_asn(asn) , :method=>"post", :id=> "form-create-asn",:remote=>true do |f| %>
    <div class="row-fluid" >
    <span id="error-message" padding-left="10px"></span>
      <table class="table table-striped table-bordered table-centered" id="details-po">
        <thead>
          <tr>
            <th class="center">Seq</th>
            <th class="center">Item Code</th>
            <th class="center">Barcode</th>
            <th class="center">Item Description</th>
            <th class="center">Requested Qty</th>
            <th class="center">Commited Qty</th>
            <th class="center">UOM</th>
            <th class="center">Service Level</th>
          </tr>
        </thead>
        <tbody>
         <%if details %>
          <% details.order("seq ASC").each do |p| %>
            <tr>
              <td><%=p.seq %></td>
              <td><%=p.product.code%></td>
              <td><%=p.product.apn_number %></td>
              <td><%=p.product.name.html_safe %></td>
              <td id="ordered_qty_<%=p.id%>"><%=p.order_qty.to_i%></td>
              <td>
              <%= text_field_tag 'everything',"", :id=>"commited_for_#{p.id}",:value=>"#{@draft_asn.nil? ? p.order_qty.to_i : p.commited_qty.to_i}", :onkeyup => "fill_field(#{p.id})", :class=>"input_only_numeric span12", :required=>'required'%>
              </td>
              <td><%=p.product.unit_qty %></td>
              <td id="td_<%=p.id%>" class="center"><span id="span_<%=p.id%>"></span></td>
            </tr>
          <%end%>
         <%end%>
        </tbody>
      </table>
      <% if asn.new_record?%>
        <%= f.hidden_field :asn_delivery_date, :value => Date.today %>
        <% details.order("seq ASC"). collect(&:id).each do |d| %>
          <%=f.fields_for :details_purchase_orders,f do |detail| %>
            <%=detail.hidden_field :commited_qty, :id=>"commited_as_#{d}"%>
          <%end%>
          <script>fill_field(<%=d%>)</script>
        <% end %>
      <%else%>
        <%=f.fields_for :details_purchase_orders,f do |detail| %>
          <%=detail.hidden_field :commited_qty, :id=>"commited_as_#{detail.object.id}"%>
          <script>fill_field(<%=detail.object.id%>)</script>
        <%end%>
      <%end%>
      <p>
        <div class="row-fluid">
          <div class="span12">
            <%= f.submit 'Save', :name=>"save_asn", :class => "btn btn-info", :data => { :confirm => "Save ASN?" } %>
            <%= f.submit 'Publish', :name=>"publish_asn" ,:class => "btn btn-info", :data => { :confirm => "Publish ASN?" } %>

          </div>
        </div>
        <div id="error-message2" style="padding-top:10px;">

        </div>
      </p>
    </div>
  <%end%>
</div>
<%= render "shared/is_numeric_partial_detail" %>