<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Ship To</Data></Cell>
        <Cell><Data ss:Type="String">ASN Number</Data></Cell>
        <Cell><Data ss:Type="String">Ordered</Data></Cell>
        <Cell><Data ss:Type="String">Delivery Date</Data></Cell>
        <Cell><Data ss:Type="String">Arrival</Data></Cell>
        <Cell><Data ss:Type="String">Order Type</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
      </Row>
        <% @results_all.each do |asn| %>
        <Row>
          <Cell><Data ss:Type="String"><%=asn.warehouse.warehouse_name rescue '' %></Data></Cell>
          <Cell><Data ss:Type="String"><%=asn.po_number%></Data></Cell>
          <Cell><Data ss:Type="String"><%=convert_date(asn.po_date)%></Data></Cell>
          <Cell><Data ss:Type="String"><%=convert_date(asn.asn_delivery_date)%></Data></Cell>
          <Cell><Data ss:Type="String"><%=convert_date(asn.due_date)%></Data></Cell>
          <Cell><Data ss:Type="String"><%=asn.order_type%></Data></Cell>
          <Cell><Data ss:Type="String"><%=state_label_for(asn)%></Data></Cell>
        </Row>
        <%end%>
    </Table>
  </Worksheet>
</Workbook>