<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Voucher</Data></Cell>
        <Cell><Data ss:Type="String">Supplier Code</Data></Cell>
        <Cell><Data ss:Type="String">Received Date</Data></Cell>
        <Cell><Data ss:Type="String">Total</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
      </Row>
        <% @results_all.each do |pv| %>
        <Row>
          <Cell><Data ss:Type="String"><%=pv.voucher rescue '' %></Data></Cell>
          <Cell><Data ss:Type="String"><%=pv.supplier.code%></Data></Cell>
          <Cell><Data ss:Type="String"><%=convert_date(pv.created_at)%></Data></Cell>
          <Cell><Data ss:Type="String"><%=total_format(pv.grand_total, "Rp.") %></Data></Cell>
          <Cell><Data ss:Type="String"><%=pv.is_approved_name.to_s.capitalize%></Data></Cell>
        </Row>
        <%end%>
    </Table>
  </Worksheet>
</Workbook>