<div id="forgot-box" class="widget-box no-border visible">
	<div class="widget-body">
		<div class="widget-main">
			<h4 class="header red lighter bigger">
				<i class="icon-key"></i>
				Retrieve Password
			</h4>

			<div class="space-6">

			</div>
			<p>
				Enter your email and to receive instructions
			</p>
			<p>
				<%= raw(show_error_validation(resource))%>
			</p>

			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
				<fieldset>
					<label>
						<span class="block input-icon input-icon-right">
							<%= f.email_field :email, :autofocus => true, :class => "span12", :placeholder => "Email" %>
							<i class="icon-envelope"></i>
						</span>
					</label>

					<div class="row-fluid">
						<%= f.button raw('<i class="icon-lightbulb"></i>
							Send Me!'), :class => "span5 offset7 btn btn-small btn-danger" %>
					</div>
				</fieldset>
			<% end %>
		</div><!--/widget-main-->
        <div class="forgot-password-link">
		<div class="toolbar center">
			<%=link_to "<i class='icon-arrow-right'></i>Back to login".html_safe, new_user_session_path, :class=> "btn btn-grey btn-small"%>

		</div>
		</div>
	</div><!--/widget-body-->
</div><!--/forgot-box-->