<div id="table_report_wrapper" class="dataTables_wrapper" role="grid">
      <table class="table table-striped table-bordered table-hover display" id="results">
        <thead>
          <tr>
            <th class="center">Ship To</th>
            <th class="center">Order Number</th>
            <th class="center">Transaction Date</th>
            <th class="center">Due Date</th>
            <th class="center">Status</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th class="center">Ship To</th>
            <th class="center">Order Number</th>
            <th class="center">Transaction Date</th>
            <th class="center">Due Date</th>
            <th class="center">Status</th>
          </tr>
        </tfoot>
        <tbody>
        <% if results.blank?%>
          <tr>
            <td colspan="5" class="center">
              <span class="red">No match data</span>
            </td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
          </tr>
          <%else%>
            <% results.each do |dn|%>
            <tr>
              <td><%=dn.warehouse.warehouse_name rescue '' %></td>
              <td><%=dn.order_number%></td>
              <td><%=convert_date(dn.transaction_date)%></td>
              <td><%=convert_date(dn.due_date)%> </td>
              <td><%=state_label_for(dn)%> </td>
            </tr>
            <%end%>
          <%end%>
        </tbody>
      </table>
      <%#=render "shared/paginate", :results => results %>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#results tfoot th').each( function () {
      var title = $(this).text();
      $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    });

    // DataTable
    var table = $('#results').DataTable({
      "aaSorting": [] });
    $('#results tfoot th').each(function (i)
    {
      var title = $('#results thead th').eq($(this).index()).text();
      // or just var title = $('#sample_3 thead th').text();
      var serach = '<input type="text" placeholder="Search ' + title + '" />';
      $(this).html('');
      $(serach).appendTo(this).keyup(function(){table.fnFilter($(this).val(),i)})
    });

    // Apply the search

} );
</script>
<style type="text/css">
  tfoot {
    display: table-header-group;
  }
  tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
</style>
