<%unless !results.blank?%>
  <tr><td colspan="5" class="center"><span class="red">No match data</span></td></tr>
<%else%>
  <% results.each do |result| %>
    <tr id="row_<%=result.id%>">
      <td><%= result.title %> </td>
      <td><%= truncate(result.content, :length => 25).html_safe %></td>
      <% if current_user.has_role?'superadmin' %>
        <td><%=  %></td>
      <% else %>
        <td>
          <center>
            <span class="label label-large label-warning"><%= GroupNotification.find_by_receipant_id_and_notification_id(current_user.id, result.id).state_name %></span>
          </center>
        </td>
      <% end %>
      <td><center><%= time_ago_in_words(result.created_at)%> ago </center></td>
      <td><%= convert_date result.valid_from %></td>
      <td><%= convert_date result.valid_until %></td>
      <td>
        <div class="hidden-phone visible-desktop btn-group">
          <%=link_to "#{image_tag 'Excel-icon.png'}".html_safe, generate_xls_details_notification_url(result.id) %>
          <%=link_to "#{image_tag 'PDF-icon.png'}".html_safe, generate_pdf_details_notification_url(result.id) %>
          <%=link_to "<i class='icon-eye-open'></i>".html_safe, show_notif_notifications_path(result.id), :class=>"btn btn-mini btn-info", :title => "View detail", :onclick=>"change_notif_state(#{result.id})"%>
          <%=link_to "<i class='icon-pencil'></i>".html_safe, edit_notification_path(result.id), :class=>"btn btn-mini btn-success" %>
          <%=link_to raw("<i class='icon-trash'></i>"), "javascript:void(0)", class: 'btn btn-mini btn-danger delete_item', id: "item_#{result.id}",
            onclick: "delete_image('#{notification_path(result.id)}', #{result.id})"%>
        </div>
      </td>
      </tr>
    <%end%>
  <%end%>
</tbody>
<script>
  function delete_image(path, id){
    _remove_data(path, id)
  }
</script>