<%= form_tag search_path(params[:controller]), :method => 'get', :remote => true, :id => "form_search" do %>
  <div class="table-header">
    <div class="site">
      <label style="width: 35px">Filter</label>
      <%= show_filter_by_controller %>
      <span class="hide" id="user_logs_filter_act_type">
        <%= show_filter_by_activity_type_only_user_log %>
      <span>
    </div>
    <div class="default" id="search-anything">
      <%= hidden_field_tag "search[period_1]" %>
      <%= hidden_field_tag "search[period_2]" %>

      <%= hidden_field_tag "search[period_1_inv_date]" %>
      <%= hidden_field_tag "search[period_2_inv_date]" %>

      <%= hidden_field_tag "search[period_1_due_date]" %>
      <%= hidden_field_tag "search[period_2_due_date]" %>
      <%= hidden_field_tag "default_dn", "dn" %>
      <%= text_field_tag "search[detail]", params[:search_all], id:"search_detail",:class=>'auto-complete', :autocomplete=>:off %>
      <% if params[:controller].split("/")[0].downcase == "order_to_payments" || params[:controller].downcase == 'returned_processes'%>
        <button class="btn btn-small btn-info pull-left" type="button" id="advance_period">Advance</button>
      <% end %>
      <button class="btn btn-small btn-info pull-left" type="submit" id="finding">Find</button>
      <button class="btn btn-small btn-info pull-left" type="button" id="reset_finding">Reset</button>
      <%= show_synch_now(params[:controller])%>
      <%= show_print_button(params[:controller])%>
      <%= show_create_new_item(params[:controller])%>
      <% if params[:controller] == 'notifications' %>
      <div class='pull-right'>"
          <%=  link_to "<i class='icon-plus'> </i> Create Notifications".html_safe, new_notification_path, :class => 'btn btn-small btn-info' %>
      </div>
      <% end %>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="control-group hide" id="show_period">
    <div class="controls">
      <label class="label label-warning" id="show_label_period">
      </label>
    </div>
  </div>
<%end%>
<div id="loading-ajax" class="" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div class="clear"></div>

<% if params[:controller].split("/")[0].downcase == "order_to_payments" || params[:controller].downcase == 'returned_processes'%>
  <%= render "shared/period_filter", {:from => (params[:controller].match("/") ? params[:controller].split("/")[1].downcase : params[:controller].downcase)} %>
<% end %>

<div id="new-print" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div class="clear"></div>

<!-- di bawah, code tambahan untuk menampilkan menu EXPORT -->
  <div align="right" style="margin:0px 10px 10px 0px;">
    <%= export_excel(params[:controller])%>
    &nbsp;&nbsp;  &nbsp;&nbsp;
    <%= export_pdf(params[:controller])%>
  </div>

