<%if can? :update_features, :user%>
  <div class="row-fluid">
    <div class="span12 well">
      <% unless user.has_role? :superadmin %>
        <%= form_for user, url: update_features_setting_users_path(user.id), :html => {:class => ''} do |f| %>
          <h4>Master</h4>
          <div class="row-fluid">
            <ul class="">
              <li class="span4">
                <%=raw(display_user_features("Dashboard"))%>
              </li>
              <li class="span4">
                <%=raw(display_user_features("Supplier"))%>
              </li>
              <li class="span4">
                <%=raw(display_user_features("Product"))%>
              </li>
            </ul>
          </div>
          <div class="space"></div>
          <div class="row-fluid">
            <ul class="">
              <li class="span4">
                <%=raw(display_user_features("Warehouse"))%>
              </li>
            </ul>
          </div>
          <hr>
          <h4>Order to Payment</h4>
          <div class="row-fluid">
            <ul class="">
              <li class="span4">
                <%=raw(display_user_features("Purchase Order"))%>
              </li>
              <li class="span4">
                <%=raw(display_user_features("Advance Shipment Notification"))%>
              </li>
              <li class="span4">
                <%=raw(display_user_features("Goods Receive Note"))%>
              </li>
            </ul>
          </div>
          <div class="space"></div>
          <div class="row-fluid">
            <ul class="">
              <li class="span4">
                <%=raw(display_user_features("Goods Receive Price Confirmation"))%>
              </li>
              <li class="span4">
                <%=raw(display_user_features("Invoice"))%>
              </li>
              <li class="span4">
                <%=raw(display_user_features("Debit Note"))%>
              </li>
            </ul>
          </div>
          <div class="space"></div>
          <div class="row-fluid">
            <ul class="">
              <li class="span4">
                <%=raw(display_user_features("Payment Voucher"))%>
              </li>
              <li class="span4">
                <%=raw(display_user_features("Payment"))%>
              </li>
              <li class="span4">
                <%=raw(display_user_features("Returned Proces"))%>
              </li>
            </ul>
          </div>
          <div class="space"></div>
          <div class="row-fluid">
            <ul class="">
              <li class="span4">
                <%=raw(display_user_features("Early Payment Request"))%>
              </li>
              <li class="span4">
                <%=raw(display_user_features("Notification"))%>
              </li>
              <li class="span4">
                <%=raw(display_user_features("Report"))%>
              </li>
            </ul>
          </div>
          <div class="space"></div>
          <hr>
          <% if user.has_role?('superadmin') || user.try(:roles).try(:first).try(:group_flag) %>
            <h4>Setting</h4>
            <div class="row-fluid">
              <ul class="">
                <li class="span4">
                  <%=raw(display_user_features("User"))%>
                </li>
                <li class="span4">
                  <%=raw(display_user_features("Type Of User"))%>
                </li>
                <li class="span4">
                  <%=raw(display_user_features("Role"))%>
                </li>
              </ul>
            </div>
            <div class="space"></div>
            <div class="row-fluid">
              <ul class="">
                <li class="span4">
                  <%=raw(display_user_features("Company"))%>
                </li>
                <li class="span4">
                  <%=raw(display_user_features("Email Notification"))%>
                </li>
                <li class="span4">
                  <%=raw(display_user_features("Ldap Setting"))%>
                </li>
              </ul>
            </div>
            <div class="space"></div>
            <div class="row-fluid">
              <ul class="">
                <li class="span4">
                  <%=raw(display_user_features("Api Setting"))%>
                </li>
                <li class="span4">
                  <%=raw(display_user_features("Service Level"))%>
                </li>
                <li class="span4">
                  <%=raw(display_user_features("User Log"))%>
                </li>
              </ul>
            </div>
          <% end %>
          <div class="row-fluid">
            <div class="span2 pull-left">
              <%= f.button raw('Save<i class="icon-arrow-right icon-on-right"></i>
              '), :class => "btn btn-small btn-success btn-register-span1" %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="row-fluid text-center">
          Unlimited Access of Features
        </div>
      <% end %>
    </div>
  </div>
<%end%>
