<%= form_tag "#{find_path_supplier_or_warehouse(params[:action], params[:id], 'warehouse')}", :method => 'get', :remote => true, :id => "form_search_warehouses" do %>
<div class="table-header">
  <div class="site">
    <label>Filter</label>
    <% filter_arr = ["Name", "Area", "Code","Region"] %>
    <%= select("search", "field", filter_arr.collect{|arr| [arr] }) %>
  </div>
  <div class="default">
    <%= text_field_tag "search[detail]", params[:search_all], id:"search_detail" %>
   <button class="btn btn-small  btn-info pull-left" type="button" id="find-warehouse" name="<%= params[:id] %>" from="<%= params[:action] %>">Find</button>
    <a href="#"><i class="icon-refresh"></i></a>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
<%end%>

