<div class="modal-800">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Edit Help for <%= help.page %></h3>
  </div>
  <%= form_for(help, :html => {:id => "change_attachment_form", :onsubmit => "return get_change_attachment('PUT')"}) do |f| %>
    <div class="modal-body">
      <fieldset>
        <div class="row">
          <div class="span12">
             <div class="control-group">
              <div class="controls">
               <%= f.label :attachment, :class => 'form-control' %>
               <%= f.file_field :attachment, :class => 'form-control' %>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <%= f.label :description, :class => 'form-control' %>
                <%= f.text_area :description, :class => 'form-control', :style => 'width: 750px; height: 750px' %>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="modal-footer">
      <!-- Button -->
      <button class="btn btn-info" disabled="true">Edit</button>
      <%= f.submit :save, :class => 'btn btn-primary' %>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  <% end %>
</div>
