<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Payment No</Data></Cell>
        <Cell><Data ss:Type="String">Supplier Code</Data></Cell>
        <Cell><Data ss:Type="String">Warehouse Code</Data></Cell>
        <Cell><Data ss:Type="String">Total</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
      </Row>
        <% @results_all.each do |py| %>
        <Row>
          <Cell><Data ss:Type="String"><%=py.no rescue '' %></Data></Cell>
          <Cell><Data ss:Type="String"><%=py.supplier.code%></Data></Cell>
          <Cell><Data ss:Type="String"><%=py.warehouse.warehouse_code%></Data></Cell>
          <Cell><Data ss:Type="String"><%=total_format(py.total, "Rp. ")%></Data></Cell>
          <Cell><Data ss:Type="String"><%=state_label_for py%></Data></Cell>
        </Row>
        <%end%>
    </Table>
  </Worksheet>
</Workbook>