<div class="row-fluid">
  <div class="widget-header">
    <h5>Line Details</h5>
  </div>
  <table class="table table-striped table-bordered" id="return-details-table">
    <thead>
      <tr>
        <th class="center">Item Code</th>
        <th class="center">Barcode</th>
        <th class="center">Item Description</th>
        <th class="center">Return Qty</th>
        <th class="center">Received Qty</th>
        <th class="center">Received as Retur</th>
        <th class="center">UoM</th>
        <th class="center">Reason</th>
      </tr>
    </thead>
    <tbody>
    <% if details %>
      <% details.each_with_index do |pod,index|%>
        <tr>
          <td><%= pod.product.code%></td>
          <td><%= pod.product.barcode%></td>
          <td><%= pod.product.name.html_safe %></td>
          <td class="text-right"><%= pod.return_qty.to_i %></td>
          <td class="text-right"><%= pod.received_qty.to_i %></td>
          <td class="text-right"><%= pod.received_as_retur_qty.to_i %></td>
          <td><%= pod.product.unit_qty %></td>
          <td><%=pod.remark%></td>
        </tr>
      <%end%>
    <%end%>
    </tbody>
  </table>
</div>
<script>
  $('#return-details-table').dataTable({
    "bPaginate": true,
    "bLengthChange": true,
    "bFilter": true,
    "bInfo": false,
    "iDisplayLength": 10});
</script>