<div id="update_limit_date">
  <%= form_for @ldap_setting, url: setting_ldap_settings_path, :method => :post, :html => {:class => 'form-horizontal'} do |f| %>
    <div class="well">
      <fieldset>
        <div class="control-group">
          <label class="control-label"  for="Title">Host</label>
          <div class="controls">
            <%= f.text_field :ldap_host, :class => "input-xlarge form-control input-lg span3 input_limit_date"  %>
            <span class="help-block red alert_notice"><%= @ldap_setting.errors[:ldap_host].join() %></span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label"  for="Title">Port</label>
          <div class="controls">
            <%= f.text_field :ldap_port, :class => "input-xlarge form-control input-lg span3 input_limit_date"  %>
            <span class="help-block red alert_notice"><%= @ldap_setting.errors[:ldap_port].join() %></span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label"  for="Title">Base</label>
          <div class="controls">
            <%= f.text_field :ldap_base, :class => "input-xlarge form-control input-lg span3 input_limit_date"  %>
            <span class="help-block red alert_notice"><%= @ldap_setting.errors[:ldap_base].join() %></span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label"  for="Title">Description</label>
          <div class="controls">
            <%= f.text_area :description, :class => "form-control span6", :rows => 6 %>
            <span class="help-block red alert_notice"></span>
          </div>
        </div>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%#= f.hidden_field :company_id, current_company.id %>
        <div class="control-group">
          <!-- Button -->
          <div class="controls">
            <%= f.button raw('Save<i class="icon-arrow-right icon-on-right"></i>
                  '), :class => "btn btn-small btn-success btn-register-span5" %>
          </div>
        </div>
      </fieldset>
    </div>
  <%end%>
</div>