<table class="table table-striped table-bordered" id="remarks">
<thead>
  <tr>
    <th class="center">Seq</th>
    <th class="center" width="50%">Remark</th>
    <th class="center">Date</th>
    <th class="center">Time</th>
    <th class="center">User</th>
    <th style="display:none;"></th>
  </tr>
</thead>
<tfoot>
  <tr>
    <th class="center">Seq</th>
    <th class="center" width="50%">Remark</th>
    <th class="center">Date</th>
    <th class="center">Time</th>
    <th class="center">User</th>
    <td style="display:none;"></td>
  </tr>
</tfoot>
<tbody>
  <% DebitNote.where("order_number = ? AND dn_remark <> ''", dn.order_number).order("created_at ASC").each_with_index do |po, i| %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= po.dn_remark %></td>
      <td><%= convert_date po.created_at %></td>
      <td><%= po.created_at.localtime.strftime("%I:%M%p") %></td>
      <td><%= po.user.first_name + " " + po.user.last_name %></td>
      <td style="display:none;"></td>
    </tr>
  <% end %>
</tbody>
</table>
<script type="text/javascript">
  $(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#remarks tfoot th').each( function () {
      var title = $(this).text();
      $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    });
 
    // DataTable
    var table = $('#remarks').DataTable({
      "aoColumnDefs": [
        { "bSortable": false, "aTargets": [ 4 ] }
      ],
      "aaSorting": [] });
    $('#remarks tfoot th').each(function (i) 
    {
      var title = $('#remarks thead th').eq($(this).index()).text();
      // or just var title = $('#sample_3 thead th').text();
      var serach = '<input type="text" placeholder="Search ' + title + '" />';
      $(this).html('');
      $(serach).appendTo(this).keyup(function(){table.fnFilter($(this).val(),i)})
    });
 
    // Apply the search

} );
</script>
<style type="text/css">
  tfoot {
    display: table-header-group;
  }
  tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
</style>