<div class="row-fluid">
  <div class="space-6"></div>
  <div class="row-fluid">
    <div class="span12">
			<%= render "filter" %>
		</div>
	</div>
	<div class="table">
		Print to :
		<div class="btn-group">
			<% if params[:type] == "GRN" %>
      	<%=link_to "#{image_tag 'Excel-icon.png'}".html_safe, "javascript:void(0)", :name => "#{print_to_xls_reports_url('ogd_grn')}", :class => "print_to" %>
      <% else %>
      	<%=link_to "#{image_tag 'Excel-icon.png'}".html_safe, "javascript:void(0)", :name => "#{print_to_xls_reports_url('ogd_grpc')}", :class => "print_to" %>
      <% end %>
    </div>
    <div class="btn-group">
    	<% if params[:type] == "GRN" %>
      	<%=link_to "#{image_tag 'PDF-icon.png'}".html_safe, "javascript:void(0)", :name => "#{print_to_pdf_reports_url('ogd_grn')}", :class => "print_to_pdf" %>
      <% else %>
      	<%=link_to "#{image_tag 'PDF-icon.png'}".html_safe, "javascript:void(0)", :name => "#{print_to_pdf_reports_url('ogd_grpc')}",  :class => "print_to_pdf" %>
      <% end %>
    </div>
	</div>
	<%= render "results_on_going_disputed", :results => @results %>
</div>